<!-- Add the header ejs template to get our CSS loaded -->
<%- include('partials/header') %>
<main class="main-content index_container">
  <div class="quiz-card">
    <h1 class="quiz-title">Welcome to the Math Competition App</h1>
    
    <% if (streak > 0) { %>
      <p class="current-streak">Current Streak: <strong><%= streak %></strong></p>
    <% } %>

    <form action="/quiz" method="get" class="difficulty-form quiz-form">
      <h2 class="question-prompt">Choose your difficulty:</h2>
      <div class="difficulty-options">
        <label>
          <input type="radio" name="difficulty" value="easy" checked>
          Easy
        </label>
        <label>
          <input type="radio" name="difficulty" value="medium">
          Medium
        </label>
        <label>
          <input type="radio" name="difficulty" value="hard">
          Hard
        </label>
      </div>
      <button type="submit" class="btn btn-submit btn-start">Start Quiz</button>
    </form>
    <% if (leaderBoard.length > 0) { %>
        <div class="top-score">
          <h3 class="question-prompt">Top Score:</h3>
          <p class="question"><%= leaderBoard[0].streak %> (<%= leaderBoard[0].difficulty %>) on <%= new Date(leaderBoard[0].date).toLocaleDateString() %></p>
        </div>
      <% } %>
    <div class="navigation-container">
      <a href="/leaderboard" class="btn btn-leaderboard">View Leaderboard</a>
    </div>


  </div>
</main>
</body>
</html>