<%- include('partials/header') %>
<main class="main-content completion_container">
  <h1>Leaderboard</h1>
  <table class="leaderboard-table">
    <thead>
      <tr>
        <th class="table-top-text">Rank</th>
        <th class="table-top-text">Streak</th>
        <th class="table-top-text">Difficulty</th>
        <th class="table-top-text">Date</th>
      </tr>
    </thead>
    <tbody>
      <% leaderBoard.forEach((entry, index) => { %>
        <tr>
          <td class="table-bot-text"><%= index + 1 %></td>
          <td class="table-bot-text"><%= entry.streak %></td>
          <td class="table-bot-text"><%= entry.difficulty %></td>
          <td class="table-bot-text"><%= new Date(entry.date).toLocaleDateString() %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <a href="/">Back to Home</a>
</main>
</body>
</html>
