<%- include('partials/header') %>
<main class="main-content completion_container">

<h1>Leaderboard</h1>
<table>
    <tr>
        <th>Rank</th>
        <th>Streak</th>
        <th>Difficulty</th>
        <th>Date</th>
    </tr>
    <% leaderBoard.forEach((entry, index) => { %>
        <tr>
            <td><%= index + 1 %></td>
            <td><%= entry.streak %></td>
            <td><%= entry.difficulty %></td>
            <td><%= new Date(entry.date).toLocaleDateString() %></td>
        </tr>
    <% }) %>
</table>
<a href="/">Back to Home</a>
</main>
</body>
</html>